body {
    background-color: #6F85AE;
}
#response-img {
    transition: transform 0.2s;
}

.shake {
    animation: shake 0.8s;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(10deg); }
    40% { transform: rotate(-10deg); }
    60% { transform: rotate(10deg); }
    80% { transform: rotate(-10deg); }
    100% { transform: rotate(0deg); }
}

#response-text {
    font-size: 1.5rem;
    color: #0ff;
    text-shadow: 0 0 10px #0ff;
}